.card{
    opacity: 0.85;
    margin: 2em;
    background-color: black;
    color: white;
}

.btn{
    margin-left: 0.25em;
}

.dis{
    border: 0.5mm solid black;
    /* border-radius: 50%; */
}

h3{
    margin: 0.25em;
    display: inline;
}

footer{
    color: white;
    background-color: #0d6efd;
    margin: 1em;
    padding: 1em;
}

body{
    background-image: url('https://scontent.fpat3-2.fna.fbcdn.net/v/t1.0-9/67564060_2469750519786645_5925894024719237120_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=Q7I2IjyAGYMAX_xW36d&_nc_ht=scontent.fpat3-2.fna&oh=00173350f13715182454eed535ecacc2&oe=606C7A98');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#features{
    color: white;
}

#instr{
    color: white;
}

ul{
    color: white; 
}