body{
    /* background-color: aqua; */
    background-image: url('https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/67771960_2464509966977367_6300506939201683456_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=vZKYI0oTrRQAX9ELvoM&_nc_ht=scontent.fpat3-1.fna&oh=313b0b33814b4672aea42a0be6a3bbed&oe=606D4730');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card{
    opacity: 0.9;
    background-color: black;
    color: white;
}

/* https://images.unsplash.com/photo-1605470207062-b72b5cbe2a87?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDh8fGNvbGxlZ2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 */

