body{
    background: url('https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/67877069_2469750796453284_2477896796341272576_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=SBJD9cjlfQUAX-p_T19&_nc_ht=scontent.fpat3-1.fna&oh=0c65e19a88d4a2b6800c8c7c6cd0d55c&oe=606BBF42');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card{
    opacity: 0.85;
    background-color: black;
    color: white;
}

/* https://images.unsplash.com/photo-1519452575417-564c1401ecc0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y29sbGVnZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 */
